<%- include("partials/header.ejs"); %>

    <div class = "menu">
        <nav>
            <ul class="menu">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>

    <div class = "post">
        <form action="/submit" method="POST">
            <input class = "title-square" type="text" name="title" placeholder="Title">
            <input class = "paragraph-square" type="text" name="text" placeholder="Write your post here...">
            <input class = "btn input" type="submit" value="Post">
        </form>
    </div>
    
    <div class = "posts-container">

            <% if (locals.titles && locals.texts) { %>
                <% for(let i = 0; i <titles.length; i++) {%>
                    <div class = "single-post">
                        <h3 id = "title-<%= i %>" class = "title"> <%= titles[i] %> </h3>
                        <p id = "paragraph-<%= i %>" class = "text"> <%= texts[i] %> </p> 
                        <button id = "edit-<%= i %>" class = "btn edit">Edit</button>
                        <button id = "<%= i %>" class = "btn delete">Delete</button>
                    </div>
                    
                <%}%>
            <%}%>      
        

    </div>

    <%- include("partials/footer.ejs"); %>
 