<%- include("partials/header.ejs"); %>

    <div class = "post">
        <form action="/submit" method="POST">
            <input type="text" name="title" placeholder="Title">
            <input type="text" name="text" placeholder="Write your post here...">
            <input type="submit" value="Post">
        </form>
    </div>
    
    <div class = "posts-container">

            <% if (locals.titles && locals.texts) { %>
                <% for(let i = 0; i <titles.length; i++) {%>
                    <div class = "single-post">
                        <h3 id = "title-<%= i %>" class = "title"> <%= titles[i] %> </h3>
                        <p id = "paragraph-<%= i %>" class = "text"> <%= texts[i] %> </p> 
                        <button onclick = "makeEditable('<%= i %>')" class = "btn">Edit</button>
                        <button onclick = "deletePost('<%= i %>')" class = "btn">Delete</button>
                    </div>
                    
                <%}%>
            <%}%>      
        

    </div>

    <%- include("partials/footer.ejs"); %>
 